In [4]:
import pandas as pd

In [10]:
data = pd.read_csv('data.csv')

In [11]:
data

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,1,10.14,0.02,69,26,1,NaN,1,26118,47568,144.0,3,1,0
1996,1997,1,11.77,1.00,24,45,1,1.0,1,2572,8063,NaN,3,1,1
1997,1998,1,16.91,0.22,18,42,0,NaN,0,14933,24753,NaN,2,1,1
1998,1999,0,11.15,0.72,46,45,1,NaN,1,18157,15275,253.0,3,0,1
1999,2000,1,11.36,0.09,41,45,0,NaN,0,20729,30463,230.0,1,1,0

In [17]:
# Impor library yang diperlukan
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Memuat data set hipertensi (misalnya dari file CSV)
# Pastikan file CSV sudah tersedia dan diubah ke dalam bentuk DataFrame
import pandas as pd
dataset = pd.read_csv('data_hipertensi.csv')

# Memisahkan fitur dan target
X = dataset.drop('hipertensi', axis=1)  # Fitur
y = dataset['hipertensi']  # Target

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Membuat objek model Decision Tree
model = DecisionTreeClassifier()

# Melatih model dengan data latih
model.fit(X_train, y_train)

# Memprediksi data uji
y_pred = model.predict(X_test)

# Menghitung akurasi prediksi
accuracy = accuracy_score(y_test, y_pred)
print('Akurasi prediksi:', accuracy)

Akurasi prediksi: 0.5

In [18]:
# Memprediksi data uji
y_pred = model.predict(X_test)

# Menghitung akurasi prediksi
accuracy = accuracy_score(y_test, y_pred)
print('Akurasi prediksi:', accuracy)

# Menampilkan hasil prediksi
print('Hasil Prediksi:')
for i in range(len(y_pred)):
    print('Data:', X_test.iloc[i])
    print('Prediksi Hipertensi:', y_pred[i])
    print('-----------------------')

Akurasi prediksi: 0.5
Hasil Prediksi:
Data: umur              45
berat             70
tinggi           160
kolesterol       200
tekanan_darah    120
Name: 0, dtype: int64
Prediksi Hipertensi: 0
-----------------------
Data: umur              55
berat             75
tinggi           165
kolesterol       220
tekanan_darah    140
Name: 1, dtype: int64
Prediksi Hipertensi: 1
-----------------------

In [19]:
dataset

   umur  berat  tinggi  kolesterol  tekanan_darah  hipertensi
0    45     70     160         200            120           1
1    55     75     165         220            140           1
2    35     65     155         180            110           0
3    60     80     170         240            160           1
4    40     68     158         190            115           0
5    50     72     163         210            130           1

In [3]:
# Impor pustaka yang diperlukan
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Membaca data dari file CSV
data = pd.read_csv('data_hipertensi.csv')

# Mengubah fitur "gender" menjadi variabel biner
label_encoder = LabelEncoder()
data['gender'] = label_encoder.fit_transform(data['gender'])

# Mengubah kolom 'tekanan_darah' menjadi fitur numerik
data[['sistolik', 'diastolik']] = data['tekanan_darah'].str.split('/', expand=True).astype(int)
data = data.drop('tekanan_darah', axis=1)

# Memisahkan fitur dan label
X = data.drop('hipertensi', axis=1)
y = data['hipertensi']

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Membuat objek Decision Tree Classifier
clf = DecisionTreeClassifier()

# Melatih model menggunakan data latih
clf.fit(X_train, y_train)

# Memprediksi label untuk data uji
y_pred = clf.predict(X_test)

# Menghitung akurasi prediksi
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

ValueError: could not convert string to float: 'perempuan'